// fonts
$font-inter: 'Inter', sans-serif;

// colors
$color-dark: #1c1c1c;
$color-dark-2: #232323;
$color-dark-3: #282828;
$color-dark-4: #343434;

$color-green: #2b825b;
$color-green-2: #3fcf8e;

$color-red: #b02e0c;

$color-light: #ededed;
$color-light-2: #bbbbbb;

$color-violet: #5c3aff;
$color-orange: #ff8c00;
