@import url("https://p.typekit.net/p.css?s=1&k=fxx5dng&ht=tk&f=31663.34679.49677.49695&a=1494256&app=typekit&e=css");

@font-face {
  font-family: "halyard-micro";
  src: url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 100;
  font-stretch: normal;
}

@font-face {
  font-family: "widescreen-ex";
  src: url("https://use.typekit.net/af/1e7715/00000000000000007735fb62/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1e7715/00000000000000007735fb62/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1e7715/00000000000000007735fb62/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: "widescreen-mixed";
  src: url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff"),
    url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

:root {
  --grad: linear-gradient(90deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  --grad-rev: linear-gradient(
    -90deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
}

.tk-halyard-micro {
  font-family: "halyard-micro", sans-serif;
}
.tk-widescreen-ex {
  font-family: "widescreen-ex", sans-serif;
}
.tk-widescreen-mixed {
  font-family: "widescreen-mixed", sans-serif;
}

::-webkit-scrollbar {
  background: #ffffff;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

html,
body {
  min-height: 100%;
  height: auto;
}

html {
  scroll-behavior: initial;
  font-size: calc(100vw / 1920 * 10);
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / 1024 * 10);
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
}

body {
  overflow-x: hidden;
  background: #000000;
  font-family: "halyard-micro", sans-serif;
  color: #ffffff;
}

h1.title {
  font-size: 25rem;
  font-weight: 900;
  color: transparent;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  position: relative;
}

h1.side-title {
  width: max-content;
  color: #000000;
  background: #ffffff;
  font-size: 15rem;
  font-family: "widescreen-mixed", sans-serif;
  padding: 2rem;
}

h1.sub-title {
  font-size: 10rem;
  line-height: 1;
}

h1.big-title {
  font-size: 15rem;
  line-height: 1;
}

h1.little-title {
  font-size: 8rem;
  font-weight: bold;
  font-family: "widescreen-ex", sans-serif;
  color: transparent;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
}

h1.small-title {
  font-size: 5rem;
  font-weight: bold;
  color: transparent;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
}

h1.mini-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: transparent;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
}

h1.text-title .word .char {
  font-size: 15rem;
  line-height: 1;
}

p.paragraph {
  font-size: 2rem;
  width: 50%;
}

/* container */

.container {
  max-width: 90%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
}

/* banner */
.banner {
  width: 100%;
  height: 100vh;
}

.sec-2 {
  margin: 20vh 0;
  width: 100%;
  padding-left: 40%;
}

.sec-3 {
  padding: 10vh 0;
}

.sec-3 p {
  margin-top: 5rem;
}

.sec-3 .shape1 {
  width: 15vw;
  height: 15vw;
  background: #ffffff;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
}
.sec-3 .shape2 {
  width: 10vw;
  height: 10vw;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  bottom: 10vh;
  right: 10vw;
}

.sec-3 .shape2 a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  color: #000000;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
}

.sec-4 .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10vh 0;
}

.sec-4 p,
.sec-4 h1 {
  width: 50%;
}

.sec-4 p {
  margin-top: 4rem;
}

.sec-4 .shape3 {
  width: 20vw;
  height: 20vw;
  background: #ffffff;
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.sec-5 {
  padding: 10vh 0 5vh 0;
  width: 100%;
  height: auto;
}

.sec-5 .container {
  padding-top: 10vh;
}

.sec-5 .content {
  width: 100%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.sec-5 a {
  width: 50%;
  text-align: center;
  background: #ffffff;
  color: #000000;
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
  margin-top: 4rem;
  position: relative;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sec-5 a:hover {
  color: #ffffff;
  background: #0f0f0f;
}

.line {
  width: 100%;
  height: 2px;
  background: #ffffff;
  margin-top: 2rem;
}

footer {
  width: 100%;
  height: auto;
  padding: 5rem 0;
}

footer .line {
  margin: 0 !important;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  font-size: 2rem;
}

/* demo */
.demo-banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.end {
  align-items: flex-end !important;
  text-align: right;
}

.text-box {
  padding: 20rem 0;
}

.text-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.text-container p {
  margin-top: 4rem;
}

.side-title {
  transform-origin: center;
  width: 100%;
  height: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  mix-blend-mode: difference;
  z-index: 999;
  padding: 4rem 2.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  font-size: 2rem;
}

/* guide */
body.guide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

body.guide ::-webkit-scrollbar {
  display: none;
}

.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  z-index: 1;
  overflow-y: scroll;
  background: #000000;
  transition: all 1s ease-in-out;
}

.side-bar-inner {
  position: relative;
  padding: 5vh 2.5vw;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.side-bar-inner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  opacity: 0.5;
  background: linear-gradient(
    0deg,
    #3f51b1 0%,
    #5a55ae 13%,
    #7b5fac 25%,
    #8f6aae 38%,
    #a86aa4 50%,
    #cc6b8e 62%,
    #f18271 75%,
    #f3a469 87%,
    #f7c978 100%
  );
}

.side-bar-inner ul {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

.side-bar-inner ul li {
  padding: 1rem 0;
}

.side-bar-inner ul li.big {
  font-family: "widescreen-ex", sans-serif;
  text-transform: uppercase;
  padding: 4rem 0;
}

.side-bar-inner ul li.big a {
  color: transparent;
  background: var(--grad);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
  font-size: 2.5rem;
}

.side-bar-inner ul li:not(.big) a {
  font-size: 2rem;
  transition: all 0.5s ease;
  position: relative;
  padding: 1rem 0;
}

.side-bar-inner ul li:not(.big) a:hover {
  color: #f7c978;
}
.side-bar-inner ul li:not(.big) a:hover::after {
  opacity: 1 !important;
}

.side-bar-inner ul li:not(.big) a.active {
  color: #f7c978;
}
.side-bar-inner ul li:not(.big) a.active::after {
  opacity: 1 !important;
}

.side-bar-inner ul li:not(.big) a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -2rem;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: #cc6b8e;
  border-radius: 50%;
  z-index: 1;
  opacity: 0;
  transition: all 0.4s ease;
}

.side-bar-inner ul li.big:nth-of-type(1) {
  padding: 0 0 4rem 0 !important;
}

.guide-wrapper {
  position: relative;
  width: 75%;
  height: max-content;
  overflow: hidden;
}

.color-line {
  background: var(--grad);
  width: 100%;
  height: 2px;
  margin-top: 2rem;
}

.guide-wrapper .guide-container a.btn {
  display: grid;
  place-items: center;
  padding: 0 2rem;
  margin-top: 2rem;
  width: max-content;
  height: 6rem;
  font-size: 2rem;
  background: var(--grad);
  transition: all 0.5s ease;
}

.guide-wrapper .guide-container a.btn:hover {
  background: var(--grad-rev);
}

.guide-wrapper .guide-container {
  width: 100%;
  height: max-content;
  padding: 5vh 5vw 10vh 5vw;
}

.guide-wrapper .guide-container p {
  width: 80%;
  line-height: 2;
  margin-top: 2rem;
}

.guide-wrapper .guide-container p.code-text {
  font-size: 2rem;
  padding: 2rem;
  background: #0f0f0f;
  color: #f7c978;
  border-radius: 5px;
}

span.space {
  padding: 1rem 2vw;
}

.guide-wrapper .guide-container p span.code {
  background: #0f0f0f;
  border: 1px solid #f7c978;
  border-radius: 2px;
  padding: 0.2rem 1rem;
}

.guide-wrapper .guide-container h1.mini-title {
  margin-top: 2rem;
}

.g-1 .guide-container {
  display: grid;
  place-items: center;
}

.g-1 img {
  width: 100%;
}

.guide-container img.code-pic {
  width: 50%;
  height: auto;
  margin-top: 2rem;
}

.g-18 .easing-list {
  margin-top: 2rem;
}

.g-18 .easing-list li {
  font-size: 2rem;
  padding: 1rem 0 1rem 3rem;
  position: relative;
}

.g-18 .easing-list li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  background: #f18271;
  border-radius: 50%;
}
/* table */

table {
  border: 2px solid #f18271;
  width: 100%;
  margin-top: 5rem;
  border-collapse: collapse;
  text-align: center;
}

table td,
table th {
  border: 2px solid #f18271;
}

table th {
  padding: 2rem;
  font-size: 3rem;
  color: transparent;
  background: var(--grad-rev);
  -webkit-background-clip: text;
  background-clip: text;
  -moz-background-clip: text;
}

table td {
  font-size: 1.6rem;
  padding: 2rem;
  width: 25%;
}

table td span.code {
  background: #0f0f0f;
  padding: 0.5rem;
  border: 1px solid #f7c978;
}

table td .dif-text {
  color: #f3a469;
}

ul.examples-list {
  width: 100%;
  height: auto;
  margin-top: 5rem;
}

ul.examples-list li {
  width: 100%;
  height: auto;
  padding: 4rem 0;
}

ul.examples-list li a {
  font-size: 2rem;
  background: var(--grad);
  padding: 2rem;
}

ul.examples-list li a:hover {
  background: var(--grad-rev);
}

ul.con-list {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 5rem;
  gap: 2rem;
}

ul.con-list li {
  flex: 0 0 10%;
  max-width: 10%;
  width: 100%;
  height: auto;
}

ul.con-list li a {
  overflow: hidden;
}

ul.con-list li a img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #f18271;
}

/* Menu-icon */

.menu-icon-space {
    height: 7vh;
    width: 100%;
    position: fixed;
    background-color: black;
    z-index: 999999999999;
    transform: translateY(-100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-icon {
    height: 3rem;
    width: 4rem;
    position: absolute;
    left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .menu-icon:hover {
    cursor: pointer;
  }

  .line-1,
  .line-2,
  .line-3 {
    height: 0.5rem;
    width: 100%;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  }

  .menu-icon .line-1 {
    animation: rev-animation-1 0.8s ease forwards;
  }
  .menu-icon .line-2 {
    animation: rev-animation-2 0.8s ease forwards;
  }
  .menu-icon .line-3 {
    animation: rev-animation-3 0.8s ease forwards;
  }

  .menu-icon.active .line-1 {
    animation: add-animation 0.8s ease forwards;
  }
  .menu-icon.active .line-2 {
    animation: add-animation-2 0.8s ease forwards;
  }
  .menu-icon.active .line-3 {
    animation: add-animation-3 0.8s ease forwards;
  }

  @keyframes add-animation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(1.3rem);
    }
    100% {
      transform: translateY(1.3rem) scale(1) rotateZ(45deg);
    }
  }

  @keyframes add-animation-2 {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes add-animation-3 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1.3rem);
    }
    100% {
      transform: translateY(-1.3rem) scale(1) rotateZ(-45deg);
    }
  }

  @keyframes rev-animation-1 {
    0% {
      transform: translateY(1.3rem) scale(1) rotateZ(45deg);
    }
    50% {
      transform: translateY(1.3rem);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes rev-animation-2 {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
      transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes rev-animation-3 {
    0% {
      transform: translateY(-1.3rem) scale(1) rotateZ(-45deg);
    }
    50% {
      transform: translateY(-1.3rem);
    }
    100% {
      transform: translateY(0);
    }
  }


/* Menu-icon end */

.side-bar.active{
    left: 0;
    width: 40%;
    margin-top: 5vh;
    transition: all 1s ease-in-out;
}

@media only screen and (max-width:1024px){
  h1.little-title{
    font-size: calc(100vw /1024 * 50);
  }
}

@media only screen and (max-width:1024px){
    table th {
        padding: 1rem;
    }
    .guide-wrapper .guide-container p.code-text{
        width: 100%;
        font-size: 1.7rem;
    }
    h1.title {
        font-size: 14rem;
    }
    h1.side-title{
        margin-top: 5rem;
        font-size:10rem;
    }
    h1.text-title .word .char{
        font-size: 10rem;
    }
    h1.big-title{
        font-size: 10rem;
    }
    .sec-5 a{
        font-size:3rem;
    }
}

@media only screen and (max-width:768px){
    .side-bar{
        left: -100%;
        margin-top: 5vh;
    }
    .guide-wrapper {
        width: 100%;
    }
    .menu-icon-space{
        transform: translateY(0);
    }
    .guide-container img.code-pic{
        width: 80%;
    }
    h1.title {
        font-size: 10rem;
    }
    h1.side-title{
        margin-top: 7rem;
        font-size:7rem;
    }
    h1.text-title .word .char {
        font-size: 7rem;
    }
    h1.big-title {
        font-size: 7rem;
    }
    p.paragraph{
        width: 70%;
    }
    .sec-5 .content{
        padding: 10rem 5rem 10rem 5rem;
    }
    .sec-5 a {
        width: 70%;
    }
}

@media only screen and (max-width: 425px){
    .side-bar {
        width: 50% !important;
    }
    .guide-wrapper .guide-container{
        padding-top: 7vh;
        padding-bottom: 7vh;
    }
    .guide-container img.code-pic{
        width: 90%;
    }
    h1.side-title {
        margin-top: 15rem;
        font-size: 7rem;
    }
}
