@import url("https://p.typekit.net/p.css?s=1&k=fxx5dng&ht=tk&f=31663.34679.49677.49695&a=1494256&app=typekit&e=css");

@font-face {
  font-family: "halyard-micro";
  src: url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/06848d/00000000000000007735adc4/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "widescreen-ex";
  src: url("https://use.typekit.net/af/1e7715/00000000000000007735fb62/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/1e7715/00000000000000007735fb62/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff"),
    url("https://use.typekit.net/af/1e7715/00000000000000007735fb62/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

@font-face {
  font-family: "widescreen-mixed";
  src: url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("woff"),
    url("https://use.typekit.net/af/b8857c/00000000000000007735fb5d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 900;
  font-stretch: normal;
}

.tk-halyard-micro {
  font-family: "halyard-micro", sans-serif;
}
.tk-widescreen-ex {
  font-family: "widescreen-ex", sans-serif;
}
.tk-widescreen-mixed {
  font-family: "widescreen-mixed", sans-serif;
}

::-webkit-scrollbar {
  background: #ffffff;
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #0f0f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

html,
body {
  min-height: 100%;
  height: auto;
}

html {
  scroll-behavior: initial;
  font-size: calc(100vw / 1920 * 10);
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / 1024 * 10);
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 768 * 10);
  }
}

body {
  overflow-x: hidden;
  background: #000000;
  font-family: "halyard-micro", sans-serif;
  color: #ffffff;
}

h1.title {
  font-size: 25rem;
  font-weight: 900;
}

h1.side-title {
  width: max-content;
  color: #000000;
  background: #ffffff;
  font-size: 15rem;
  font-family: "widescreen-mixed", sans-serif;
  padding: 2rem;
}

h1.sub-title {
  font-size: 10rem;
  line-height: 1;
}

h1.big-title {
  font-size: 15rem;
  line-height: 1;
}

p.paragraph {
  font-size: 2rem;
  width: 50%;
}

/* container */

.container {
  max-width: 90%;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.center {
  display: grid;
  place-items: center;
  text-align: center;
}

/* banner */
.banner {
  width: 100%;
  height: 100vh;
}

.sec-2 {
  margin: 20vh 0;
  width: 100%;
  padding-left: 40%;
}

.sec-3 {
  padding: 10vh 0;
}

.sec-3 p {
  margin-top: 5rem;
}

.sec-3 .shape1 {
  width: 15vw;
  height: 15vw;
  background: #ffffff;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
}
.sec-3 .shape2 {
  width: 10vw;
  height: 10vw;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  bottom: 10vh;
  right: 10vw;
}

.sec-4 .container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10vh 0;
}

.sec-4 p,
.sec-4 h1 {
  width: 50%;
}

.sec-4 p {
  margin-top: 4rem;
}

.sec-4 .shape3 {
  width: 20vw;
  height: 20vw;
  background: #ffffff;
  position: absolute;
  bottom: 10vh;
  left: 10vw;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.sec-5 {
  padding: 10vh 0 5vh 0;
  width: 100%;
  height: auto;
}

.sec-5 .container {
  padding-top: 10vh;
}

.sec-5 .content {
  width: 100%;
  padding: 10rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.sec-5 a {
  width: 50%;
  text-align: center;
  background: #ffffff;
  color: #000000;
  font-size: 4rem;
  font-weight: bold;
  padding: 2rem;
  margin-top: 4rem;
  position: relative;
  transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sec-5 a:hover {
  color: #ffffff;
  background: #0f0f0f;
}

.line {
  width: 100%;
  height: 2px;
  background: #ffffff;
  margin-top: 2rem;
}

footer {
  width: 100%;
  height: auto;
  padding: 5rem 0;
}

footer .line {
  margin: 0 !important;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer a {
  font-size: 2rem;
}
