@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

::-webkit-scrollbar {
  display: none !important;
}

.content {
  position: relative;
  min-height: 100%;
  z-index: 1;
}

.container,
.content {
  width: 100%;
  height: auto;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  position: relative;
}

@media only screen and (max-width: 812px) {
  .section {
    min-height: auto;
  }
}

.extra-section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.extra-section .container .section-content,
.extra-section .container .section-media {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
}

.banner .container,
.center-section .container,
.extra-section .container .section-content,
.images-gallery .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.extra-section .container .section-media,
.loader {
  display: grid;
  place-items: center;
}

.small-title {
  font-size: 3rem;
  font-weight: 600;
  line-height: 3rem;
}

.title {
  font-size: 18rem;
  font-weight: 700;
  line-height: 1.2;
}

@media only screen and (max-width: 812px) {
  .title {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}

.sub-title {
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.2;
}

@media only screen and (max-width: 812px) {
  .sub-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
}

.paragraph {
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

@media only screen and (max-width: 812px) {
  .paragraph {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.small-text {
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (max-width: 812px) {
  .small-text {
    font-size: 1.2rem;
  }
}

.small-text span {
  font-weight: 600;
}

body,
html {
  width: 100%;
  min-height: 100%;
  height: auto;
}

html {
  scroll-behavior: auto;
  box-sizing: border-box;
  font-size: 0.52083vw;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 812px) {
  html {
    font-size: 2.66667vw !important;
  }
}

body {
  overscroll-behavior: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-display: swap;
  color: #262523;
  transition: opacity 1s ease;
  background: #ececec;
}

*,
:after,
:before {
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  outline: none;
  -webkit-touch-callout: none;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

a {
  pointer-events: auto;
  text-decoration: none;
}

a,
button {
  color: inherit;
  outline: none;
}

button {
  background: none;
  border: none;
  border-radius: none;
  font: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  pointer-events: auto;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background: #ececec;
  transition: all 1s ease;
}

.loader.inactive {
  opacity: 0;
}

.banner .container {
  gap: 2rem;
  min-height: 100vh;
}

.banner .container p {
  width: 70%;
}

.extra-section .container .section-content {
  gap: 2rem;
}

.extra-section .container .section-content p {
  width: 80%;
}

.extra-section .container .section-media figure {
  width: 80%;
  height: auto;
}

.extra-section .container .section-media figure img {
  width: 100%;
  height: auto;
  max-height: 90vh;
}

.center-section {
  padding: 20rem 0;
}

.center-section .container {
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.center-section .container p {
  width: 70%;
}

.images-gallery {
  padding: 10rem 0;
}

.images-gallery .container figure {
  max-width: 30%;
  width: 100%;
  height: auto;
}

.images-gallery .container figure:nth-of-type(2n) {
  align-self: flex-end;
  max-width: 50%;
  margin: -5rem 0;
}

.images-gallery .container figure img {
  width: 100%;
  height: auto;
}
