@import url("https://rsms.me/inter/inter.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

html {
  font-size: calc(100vw / 1920 * 10);
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: calc(100vw / 1024 * 10);
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: calc(100vw / 750 * 10);
  }
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: rgba(15, 23, 42, 1);
  color: #ffffff;
}

/* container */

.container {
  max-width: 90%;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .pic-container {
  width: 100%;
  height: 100%;
  max-width: 50%;
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .content {
  width: 100%;
  height: 100vh;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 4%;
}

.container .pic-container img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  transition: all 1s ease;
  opacity: 0;

  transform-origin: center;
  transform: scale(0);
}

.container .pic-container img.active {
  opacity: 1;
  transform: scale(1);
}

.revert {
  flex-direction: row-reverse;
}

/* sections */

.section {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: url(../images/bg-1.png) repeat center center;
  background-clip: border-box;
  animation: rotation 100s linear infinite alternate-reverse;
}

@keyframes rotation {
  from {
    background-position: 0;
  }
  to {
    background-position: -1000%;
  }
}

.section-1 {
  display: grid;
  place-items: center;
}

.big__title {
  font-size: 18rem;
  font-weight: lighter;
  color: #fff;
  letter-spacing: -1.5rem;
}

.big__title span {
  display: inline-block;
  line-height: 1;
  transform-origin: center;
  transition: all 0.5s ease;
  cursor: pointer;
}

.big__title span:nth-of-type(odd):hover {
  transform: scale(1.5);
}

.big__title span:nth-of-type(even):hover {
  transform: rotate(30deg) scale(0.9);
}

/* title */

.title {
  font-size: 8rem;
  line-height: 1;
}

.paragraph {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 2px;
  margin-top: 4rem;
}

.btns__container {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin-top: 4rem;
  gap: 3rem;
}

.btns__container a {
  font-size: 2.4rem;
  padding: 2rem 3rem;
  border-radius: 50px;
  transition: all 0.5s ease;
}

.btns__container a:hover {
  background: #ffffff;
}

.btn-1 {
  background: #ff9900;
}

.btn-1:hover {
  color: #ff9900;
}

.btn-2 {
  background: #3ad9f7;
}

.btn-2:hover {
  color: #3ad9f7;
}

/* btn start */
.btn {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
  padding: 0.75em 1em;
  border-radius: 50px;
  background: #ff9900;
  transition: all 0.5s ease;
}

.btn:hover {
  background: #ffffff;
  color: #ff9900;
}
/* btn end */

/* para */

.para {
  margin-top: 10rem;
  font-size: 2rem;
  width: 100%;
  line-height: 3;
}

.para span {
  color: #f4f4f4;
}

.para a {
  padding: 0.8rem 2rem;
  border-radius: 50px;
  background: #ff9900;
  margin-left: 1rem;
  transition: all 0.5s ease;
}

.para a:hover {
  color: #ff9900;
  background: #ffffff;
}

/* navigation bar */

.nav {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav .nav-container {
  width: 100%;
  margin: 0 auto;
  max-width: 90%;
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* footer */

.footer_content_wrapper {
  padding: 24px 0;
}

.footer_text {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.footer_text a {
  color: #3ad9f7;
}

/* info */
.section-info {
  height: fit-content;
  max-height: fit-content;
}

.section-info .container-2 {
  max-width: 80%;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: fit-content;
}

.section-info .container-2 h1 {
  font-size: 3rem;
  font-weight: 500;
}

.section-info .container-2 h1.lite {
  font-weight: 300;
  font-size: 2.5rem;
  margin-top: 2rem;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #ff9900;
  margin: 4rem 0;
}

.section-info .container-2 .btns_wrapper {
  width: 100%;
  padding: 4rem 0 0 0;
  display: flex;
  gap: 2rem;
}

pre {
  white-space: normal;
  width: 100%;
  height: fit-content;
  padding: 3rem 3rem;
  background: rgba(255, 255, 255, 0.1);
  margin: 3rem 0;
}

pre code {
  width: 100%;
  height: fit-content;
  font-size: 1.6rem;
  font-weight: 400;
}

pre code span {
  color: #3ad9f7;
}

/* row wrapper */
.row-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10vh 0;
}

.row-wrapper .pic,
.row-wrapper .text-content {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  height: fit-content;
}

.row-wrapper .pic img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  transition: all 1s ease;
  opacity: 0;
  transform-origin: center;
  transform: scale(0);
}

.row-wrapper .pic img.active {
  opacity: 1;
  transform: scale(1);
}

.row-wrapper .text-content h1 {
  font-weight: 800;
  color: #ff9900;
}

.row-wrapper .text-content p {
  font-weight: 400;
  width: 100%;
}

/* media query */

@media only screen and (max-width: 1024px) {
  .big__title {
    font-size: 10rem;
    letter-spacing: -8px;
  }

  .title {
    font-size: 4.5rem;
  }

  .paragraph {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .section-2,
  .section-3,
  .section-4 {
    height: 80vh;
  }

  .section-info .container-2 h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .container .pic-container {
    max-width: 100%;
  }

  .container {
    flex-direction: column;
    justify-content: center;
  }

  .big__title {
    font-size: 7rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .paragraph {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .section-2,
  .section-3,
  .section-4 {
    height: fit-content;
  }

  .container .content {
    flex: 0;
  }

  .section-info {
    margin-top: 5rem;
  }

  pre {
    padding: 2rem 2rem;
  }

  pre code {
    font-size: 1.2rem;
  }

  .row-wrapper {
    flex-direction: column;
  }

  .row-wrapper .pic,
  .row-wrapper .text-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 610px) {
  .big__title {
    font-size: 9rem;
  }

  .title {
    font-size: 4rem;
  }

  .paragraph {
    font-size: 1.7rem;
    margin-top: 3.5rem;
  }

  pre code {
    font-size: 1.33rem;
  }
}

@media only screen and (max-width: 425px) {
  .big__title {
    font-size: 10rem;
  }

  .title {
    font-size: 6rem;
  }

  .paragraph {
    font-size: 2.3rem;
  }

  .section-info .container-2 h1 {
    font-size: 2.5rem;
  }

  pre code {
    font-size: 1.34rem;
  }
}

/* media query end */
